<!DOCTYPE html>
<html>
    <head>
        <title>Agregar propiedad</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="css/modificar_datos.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
        <div class="">
            {% include 'nav-bar.html.twig' %}
        </div>
        </header>
        <div class="contenedor-form">
      		<div class="toggle">
          </div>
          <div class="formulario">
            <h3>Agregá una propiedad a continuacion: </h3>
            <form method="post" action="./?action=check_agregar_propiedad" class="userForm">
              <div class="">
                <div class="">
                    <label for="nombre" class="">Nombre</label>
                    <input type="text" id="nombre" name="nombre" class="login-input" placeholder="Nombre de la propiedad" required>
                </div>
                <div class="">
                    <label for="lugar" class="">lugar</label>
                    <input type="text" id="lugar" name="lugar" class="login-input" placeholder="Lugar de la propiedad" required>
                </div>
            <!--    <div class="">
                    <label for="monto_normal" class="">Monto Normal</label>
                    <input type="text" id="monto_normal" name="monto_normal" class="login-input" placeholder="Monto normal de la propiedad" required>
                </div>
                <div class="">
                    <label for="monto_base" class="">Monto base</label>
                    <input type="text" id="monto_base" name="monto_base" class="login-input" placeholder="Monto base de la propiedad" required>
                </div>-->
              <button id="arriba" type="submit" class="login-input">Guardar</button>
              <button id="abajo" type="reset" class="login-input">Reset</button>
            </div>
          </form>
        </div>
    </body>
</html>
