<!DOCTYPE html>
<html>
    <head>
        <title>Agregar vehículo</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
        <div class="">
            {% include 'nav-bar.html.twig' %}
        </div>
        </header>
        <h3>Agregá una propiedad a continuacion: </h3>
        <form method="post" action="./?action=check_agregar_propiedad" class="userForm">
            <div class="">
                <div class="">
                    <label for="nombre" class="">Nombre</label>
                    <input type="text" id="nombre" name="nombre" class="inputElement" placeholder="Sin guiones ni espacios" required>
                </div>
                <div class="">
                <div class="">
                    <label for="lugar" class="">lugar</label>
                    <input type="text" id="lugar" name="lugar" class="inputElement" placeholder="Ingresá acá la marca" required>
                </div>
                <div class="">
                    <label for="monto_normal" class="">Monto Normal</label>
                    <input type="text" id="monto_normal" name="monto_normal" class="inputElement" placeholder="Ingresá acá el modelo" required>
                </div>
                <div class="">
                    <label for="monto_base" class="">Monto base</label>
                    <input type="text" id="monto_base" name="monto_base" class="inputElement" placeholder="Cantidad de lugares para pasajeros" required>
                </div>
              <button id="izquierda" type="submit">Guardar</button>
              <button id="derecha" type="reset">Reset</button>
          </div>
        </form>
    </body>
</html>
