<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="css/estilos.css">
</head>
<body>
	<div class="contenedor-form">
		<div class="toggle">
    </div>
  <div class="formulario">
  	<h2>Iniciar Sesión</h2>
  <form method="post" action="./?action=chequear_administrador" class="login">
    	<input type="text" id="codigo" name="codigo" class="login-input" placeholder="Ingrese el codigo de administrador" required><input type="submit" value="Iniciar Sesión">
  </form>
</body>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/main.js"></script>
</html>
