<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="css/estilos_inicio.css">
</head>
<body>
	<div class="contenedor-form">
		<div class="toggle">
			<span>Registrarse</span>
		</div>
		<div class="formulario">
			<h2>Iniciar Sesión</h2>
			<form method="post" action="./?action=chequear_ingreso_usuario">
				<input type="email" id="email" name="email" placeholder="Usuario" required="">
				<input type="password" id="password" name="password" placeholder="Contraseña" required="">
				<input type="submit" value="Iniciar Sesión">
			</form>
		</div>


		<div class="formulario">
			<h2>Crea tu cuenta</h2>
			<form method="post" action="./?action=chequear_agregar_usuario">
				<input type="text" id="nombre" name="nombre" placeholder="Nombre" required="">
				<input type="text" id="apellido" name="apellido" placeholder="Apellido" required="">
				<input type="email" id="email" name="email" placeholder="Correo Electronico" required="">
				<input type="password" id="password" name="password" placeholder="Contraseña" required="">
				<input type="submit" value="Registrarse">
			</form>
		</div>

		<div class="reset-password">
			<a href="">Olvide mi contraseña</a>
		</div>

		<div class="in-admin">
			<a href="./?action=formulario_ingresar_administrador">Ingresar como administrador</a>
		</div>

	</div>

	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>
