<!DOCTYPE html>
<html lang="es" >
    <head>

        <meta charset="utf-8"/>
        <title>Mis Tarjetas</title>
        <link rel="stylesheet" type="text/css" href="css/estilos_usuarios.css">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
        <nav class="">
            {% include 'nav-bar.html.twig' %}
        </nav>
        </header>
        <section class="main"  align="center">
          <!--{% if tarjetas | length > 0 %}-->
            <h4>Si eliminas una tarjeta, la misma no estará disponible.</h4>
              <hr />
                  {% for tarjeta in tarjetas %}
                          <p><h5>Número de tarjeta: {{tarjeta.getNumero}}</h5>
                          <p><h5>Vencimiento: {{tarjeta.getMesVencimiento}} de {{tarjeta.getYearVencimiento}}</h5>
                          <p><h4><a href="./?action=eliminar_tarjeta_check&id={{tarjeta.getId}}">Eliminar</a></h4>

                      <hr />
                  {% endfor %}
                  <h3><a href="./?action=agregar_tarjeta">¿Deseas sumar otra tarjeta?</a></h3>
        <!--{% else %}-->
            <h5>No dispones de tarjetas asociadas a tu cuenta.</h5>
            <h5><a href="./?action=agregar_tarjeta">Agrega una para poder viajar!</a></h5>
         <!-- {% endif %} -->
        </section>

    </body>
</html>
