<!DOCTYPE html>
<html>
    <head>
        <title>Mi perfil</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="css/modificar_datos.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
        <div class="">
            {% include 'nav-bar.html.twig' %}
        </div>
        </header>
        <div class="contenedor-form">
          <div class="toggle">
          </div>
          <div class="formulario">
            <h2> Mi perfil </h3>
            <form method="post" class="login">
              <div class="">
                <div class="">
                    <label class="">Nuevo nombre</label>
                    <input type="text" id="" name="nombre" readonly="readonly" class="login-input" placeholder="Nombre nuevo"  value="{{usuario.getNombre}}">
                </div>
                <div class="">
                    <label class="">Nuevo apellido</label>
                    <input type="text" id="" name="apellido" readonly="readonly" class="login-input" placeholder="Nombre apellido" value="{{usuario.getApellido}}">
                </div>
                <div class="">
                  <label class="">Nuevo email</label>
                  <input type="text" id="" name="email" readonly="readonly" class="login-input" placeholder="Nuevo email" value="{{usuario.getEmail}}">
                </div>
                <div class="">
                    <label class="">Nueva Contraseña</label>
                    <input type="password" id="password" name="password" readonly="readonly" class="login-input" placeholder="Nueva contraseña" value="{{usuario.getPassword}}">
                </div>
                <div class="login-input" align="center">
                  <a href="./?action=modificar_mis_datos">Modificar datos</a>
                </div>
                <div class="login-input" align="center">
                  <a href="./?action=Mostrar_pagina_premium">Quiero ser premium</a>
                </div>
          </div>
        </form>
    </body>
</html>
